@inherits LayoutComponentBase
@inject IJSRuntime JS
@inject IConfiguration Config
@inject BenchmarkUtil BenchmarkUtil
@inject NavigationManager NavigationManager

<head>
</head>
<div class="page">
    <div class="sidebar">
        <NavMenu OnDownloadBenchmark="DownloadBenchmark" />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>


@code{

    public async Task DownloadBenchmark()
    {
        if (Config.GetValue<bool>("SaveBenchmark"))
        {
            var uri = NavigationManager.ToAbsoluteUri(NavigationManager.Uri);

            var segments = uri.Segments;
            var lastSegment = "no_file_name";

            lastSegment = segments?[segments.Length - 1].Trim('/') ?? "no_file_name";

            await BenchmarkUtil.DownloadFileAsync(JS, lastSegment);
            BenchmarkUtil.Stopwatch.Reset();
            NavigationManager.NavigateTo("/", forceLoad: true);
        }
    }
}