@page "/version6"
@inherits VersionComponent

@using PSC.Blazor.Components.Chartjs
@using PSC.Blazor.Components.Chartjs.Models
@using PSC.Blazor.Components.Chartjs.Models.Common
@using PSC.Blazor.Components.Chartjs.Models.Pie
@using PSC.Blazor.Components.Chartjs.Models.Bar
@using PSC.Blazor.Components.Chartjs.Models.Line

<PageTitle>Version 6</PageTitle>


<div class="row">
    <div class="col-md-6">
        <Chart Config="RenderChart.PieChartConfig"></Chart>
    </div>
        <div class="col-md-6">
        <Chart Config="RenderChart.BarChartConfig"></Chart>
    </div>
</div>


<div style="height:500px;overflow-y:scroll">
    <Virtualize Items="Orders" Context="order"
    OverscanCount="1"
    MaxItemCount="5">
        @OrderListObjectRenderFragment.OrderCard(order)
    </Virtualize>
</div>

@code {

}


