@page "/version4"
@inherits VersionComponent

<PageTitle>Version 4</PageTitle>

<div class="row">
    <div class="col-md-6 col-lg-4">
        <Chart Config="RenderChart.PieChartConfig"></Chart>
    </div>
    <div class="col-md-6 col-lg-4">
        <Chart Config="RenderChart.BarChartConfig"></Chart>
    </div>
</div>


<div style="height:500px;overflow-y:scroll">
    <Virtualize Items="Orders" Context="order"
                OverscanCount="1"
                MaxItemCount="5">
        @OrderListObjectRenderFragment.OrderCard(order)
    </Virtualize>
</div>


