@page "/version2"
@inherits VersionComponent

<PageTitle>version0</PageTitle>

<div class="row">
    <div class="col-md-6 col-lg-4">
        <Chart Config="RenderChart.PieChartConfig"></Chart>
    </div>
    <div class="col-md-6 col-lg-4">
        <Chart Config="RenderChart.BarChartConfig"></Chart>
    </div>
</div>


@foreach (var order in Orders)
{
    <OrderListObject @key="order.OrderGuid"
                     Order="order">
    </OrderListObject>
}

